/* styles for the profile pages   */
.gradient-bg {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.gradient-bg .btns {
  position: absolute;
  right: 0%;
  top: 1.2vh;
  margin: 0.2rem 1rem;
  gap: 1rem;
  display: flex;
}
.gradient-bg .btns .themeBtn {
  padding: 0.4rem;
  border-radius: 0.5rem;
  border: none;
  font-weight: bolder;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  cursor: pointer;
}
.gradient-bg .btns .themeBtn:hover {
  opacity: 0.8;
}
.gradient-bg .btns .logoutBtn {
  background-color: #003892;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  border-radius: 0.5rem;
  padding: 0.5rem;
  transition: 0.3s ease-in-out;
  cursor: pointer;
}
.gradient-bg .logoutBtn:hover {
  background-color: #14146c;
}
.gradient-bg .logoutBtn:active {
  background-color: #0f0f8e;
}

/* styles for  themes  */
.light-gradient-bg {
  background: linear-gradient(to top right, rgb(117, 117, 233), lightblue);
}
.light-gradient-bg .btns .themeBtn {
  background-color: black;
  color: white;
}
.dark-gradient-bg {
  width: 100vw;
  height: 100vh;
  background: linear-gradient(to top right, rgb(57, 57, 117), rgb(18, 21, 22));
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
.dark-gradient-bg .btns .themeBtn {
  background-color: white;
  color: black;
}

.profileContainer {
  height: 85vh;
  width: 85vw;
  background-color: white;
  position: relative;
  overflow-y: scroll;
}

.topBackground {
  height: 40%;
  position: relative;
}
.topBackground .goBackIcon {
  position: absolute;
  color: white;
  margin: 1rem;
  padding: 0.8vw;
  font-size: 1.5rem;
  font-weight: bolder;
  cursor: pointer;
  z-index: 999999;
}
.topBackground .goBackIcon:hover {
  background-color: rgba(72, 71, 71, 0.5);
  backdrop-filter: blur(50px);
}
.topBackground .goBackIcon:active {
  opacity: 0.7;
}
.topBackground img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.topBackground .topBackgroundGradient {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 9;
  position: absolute;
  top: 0;
}
.topBackground .topBackgroundGradient .topWrap {
  margin-left: 25vw;
  width: 60vw;
  height: 100%;
  padding: 3vw;
  position: relative;
}
.topBackground .topBackgroundGradient .topWrap .topWrapWrap {
  position: relative;
  top: 90%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.topBackground .topBackgroundGradient .topWrap .topWrapWrap h1 {
  color: white;
  font-size: 2.5vw;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.bodyContainer {
  height: 60%;
}
.bodyContainer .experiencesContainer {
  margin-left: 25vw;
  width: 60vw;
  height: 100%;
  padding: 1rem 3rem;
  overflow: scroll;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.bodyContainer .experiencesContainer .label {
  font-size: 18px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  margin-bottom: 2rem;
}

.bodyContainer .experiencesContainer .expSlider {
  box-shadow: 5px 5px 2px 2px rgba(12, 0, 48, 0.2);
  width: 100%;
  min-height: 15vh;
  height: fit-content;
  border-radius: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  margin-bottom: 2rem;
}
.bodyContainer .experiencesContainer .wrap {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.bodyContainer .experiencesContainer .tb {
  width: 90%;
  margin: 0.3rem 0;
}
.bodyContainer .experiencesContainer .tb textarea {
  width: 100%;
  height: 12vh;
  margin: 0.3rem 0;
  padding: 0.3rem;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  background-color: #f8f8f8;
  font-size: 12px;
  resize: none;
}
.bodyContainer .experiencesContainer .tb span {
  display: flex;
  justify-content: flex-end;
  font-size: 10px;
  color: #000;
  text-decoration: underline;
}
.bodyContainer .experiencesContainer .tb span h4 {
  cursor: pointer;
}
.bodyContainer .experiencesContainer .tb button {
  background-color: #003892;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  border-radius: 0.5rem;
  padding: 0.5rem;
  transition: 0.3s ease-in-out;
  cursor: pointer;
  margin-bottom: 1rem;
}
.bodyContainer .experiencesContainer .expSlider h1 {
  width: 100%;
  font-weight: 500;
  font-family: Roboto;
  font-size: 16px;
  text-decoration: underline;
}
.bodyContainer .experiencesContainer .expSlider .item {
  margin: 0.3rem 0;
}
.bodyContainer .experiencesContainer .itemWrap {
  display: flex;
  align-items: center;
  gap: 0.2rem;
}
.bodyContainer .experiencesContainer .itemWrap h5 {
  font-weight: lighter;
  font-family: Roboto;
  font-size: 16px;
  font-style: italic;
}
.bodyContainer .experiencesContainer .itemWrap h5:hover {
  font-size: 14px;
}
.bodyContainer .experiencesContainer .itemWrap i {
  color: #ffd700;
  font-size: 11px;
}

.bodyContainer .experiencesContainer .dataCon {
  box-shadow: 5px 5px 1px 8px rgba(12, 0, 48, 0.2);
  width: 90%;
  min-height: 15vh;
  height: fit-content;
  border-radius: 2rem;
  padding: 1rem;
  margin-bottom: 2rem;
  font-size: 20px;
}
.bodyContainer .experiencesContainer .dataCon h6 {
  margin: 0.5rem;
}

.bodyContainer .experiencesContainer .dataCon .exp .end {
  display: flex;
  justify-content: flex-end;
}
.golden {
  color: #ffd700;
}
.white {
  -webkit-text-stroke: 1px #000000;
  color: transparent;
}

/* cardContainer */
.cardContainer {
  position: absolute;
  top: 0;
  width: 20vw;
  height: 70vh;
  margin: 10vh 0 0 5vw;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);
  z-index: 99999;
  display: flex;
  align-items: center;
  justify-content: center;
}
.cardContainer img {
  position: absolute;
  top: 0%;
  width: 100%;
  height: 65%;
  object-fit: cover;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}
.cardContainer .fa-camera {
  position: absolute;
  top: 55%;
  color: white;
  z-index: 99999;
  padding: 0.8vw;
  border-radius: 100%;
}
.cardContainer .fa-camera:hover {
  backdrop-filter: blur(50px);
  background-color: rgb(84, 84, 84, 0.2);
}
.cardContainer .fa-camera:active {
  opacity: 0.8;
}
.cardContainer .detailsContainer {
  padding: 0.6rem;
  color: rgb(136, 136, 136);
  position: absolute;
  top: 65%;
  width: 100%;
  max-height: 35%;
  overflow: scroll;
}

.cardContainer .detailsContainer h4 {
  color: rgb(111, 111, 111);
  font-size: 10px;
  font-weight: 700;
}
.cardContainer .detailsContainer .twrap {
  font-size: 8px;
  justify-content: flex-end;
  text-decoration: underline;
  cursor: pointer;
  color: #000;
}
.cardContainer .detailsContainer .twrap:hover {
  opacity: 0.8;
}
.cardContainer .detailsContainer .twrap:active {
  opacity: 0.7;
}
.cardContainer .detailsContainer button {
  background-color: #003892;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  border-radius: 1.5rem;
  padding: 0.5rem;
  transition: 0.3s ease-in-out;
  cursor: pointer;
}
.cardContainer .detailsContainer textarea {
  width: 100%;
  height: 3rem;
  margin: 0.3rem 0;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  background-color: #f8f8f8;
  font-size: 8px;
  resize: none;
}
.cardContainer .detailsContainer h6 {
  font-weight: 600;
  font-size: 8px;
  margin: 0.5rem 0;
}
.moveWrap {
  display: flex;
  justify-content: center;
}
.moveWrap .move {
  background-color: rgb(1, 170, 1);
  border: none;
  height: fit-content;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.6rem;
  border-radius: 1rem;
  font-size: 10px;
  cursor: pointer;
  text-decoration: none;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}
.moveWrap .move:hover {
  background-color: rgba(27, 27, 48, 0.5);
  backdrop-filter: blur(50px);
}
.moveWrap .move:active {
  opacity: 0.7;
}
.moveWrap .move h4 {
  color: white;
}
.cardContainer .detailsContainer span {
  margin: 0.4rem 0;
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
.cardContainer .detailsContainer span i {
  font-size: 10px;
}
.chooseImage {
  position: absolute;
  top: 0;
  z-index: 99999999999;
  width: 45vw;
  height: fit-content;
  margin: 5vh 5vw;
  padding: 3vh 3vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  backdrop-filter: blur(50px);
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.6);
}

.chooseImage i {
  position: absolute;
  right: 1rem;
  top: 1rem;
  color: white;
  z-index: 99999;
  padding: 1.2vw;
  border-radius: 100%;
}
.chooseImage i:hover {
  backdrop-filter: blur(50px);
  background-color: rgb(84, 84, 84, 0.5);
}
.chooseImage i:active {
  opacity: 0.8;
}
.chooseImage .imgSelected {
  width: 70%;
  height: 50vh;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);
}
.chooseImage .imgSelected img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.chooseImage span {
  margin: 1rem;
  display: flex;
  gap: 1rem;
}
.chooseImage label {
  font-size: 15px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: #fff;
  padding: 5px 10px;
  text-align: center;
  border-radius: 5px;
  box-shadow: 0px 0px 10px 2px rgba(80, 80, 80, 0.2);
  background-color: rgb(46, 46, 245);
  border: none;
  cursor: pointer;
}
.chooseImage button {
  font-size: 15px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: #303030;
  padding: 5px 10px;
  text-align: center;
  border-radius: 5px;
  box-shadow: 0px 0px 10px 2px rgba(80, 80, 80, 0.2);
  background-color: #fff;
  border: none;
  cursor: pointer;
}
.chooseImage label:hover {
  color: white;
  background-color: rgb(6, 37, 74);
}
.chooseImage button:hover {
  color: white;
  background-color: rgb(6, 37, 74);
}

.addIcon {
  position: fixed;
  top: 85vh;
  left: 88vw;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100%;
  transition: ease-in-out;
}
.addIcon i {
  font-size: 1.5rem;
  font-weight: bolder;
  cursor: pointer;
  margin: 0.5rem;
}
.addIcon:hover {
  background-color: #000;
  color: white;
}

/* aditional css */

.main-user-container {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  background-color: white;
  /* padding: 40px; */
  color: black;
}

.main-nav-nav {
  /* border-bottom: 2px solid #eee; */
  width: 100%;
  position: sticky;
  top: 0;
  display: flex;
  top: 0;
  z-index: 334;
  background-color: white;
}

.top-main-profile {
  display: flex;
  /* box-shadow: 0 0 4px rgba(0 0 0 /20%); */
  height: auto;
  /* border-radius: 20px; */
  flex-direction: row;
  /* align-items: center; */
  justify-content: space-between;
  width: 100%;
  padding: 20px;
  position: relative;

  height: 70px;
}
.user-detailes-o {
  position: relative;
  display: flex;
  flex-direction: row;
  gap: 20px;
  align-items: center;
  height: 100%;
}

.user-online-and-image {
  position: relative;
  display: flex;
  width: 40px;
  height: 40px;
  align-items: center;
  border-radius: 50%;
  border: 2px solid white;
  box-shadow: 0 0 10px rgba(0 0 0 /20%);
}


.nav-side {
  position: relative;
  display: flex;
  flex-direction: row;
  color: black;
  gap: 10px;
  left: 40px;
}
.nav-side a {
  padding: 5px 10px;
  font-size: 13px;
  display: flex;
  flex-direction: row;
  text-decoration: none;

  gap: 4px;
  align-items: center;
  /* font-weight: ; */
}
.nav-side a i {
  transform: scale(0.8);
  margin-top: 1px;
}
.active-a{
  color: #321564;
  font-weight: 600 ;
}

.hire-burrons {
  position: relative;
  display: flex;
  flex-direction: row;
  gap: 10px;
  height: 100%;
  align-items: center;
}
.hire-burrons a {
  width: 100px;
  border-radius: 5px;
  border: 1px solid #ddd;
  padding: 5px;
  align-items: center;
  height: 35px !important;
  display: flex;
  position: relative;
  height: auto;
  justify-content: center;
  color: black;
  font-size: 13px;
  text-decoration: none;
}
.dak-btn {
  background-color: #321564;
  color: white !important;
}
.if-auth a {
  width: 35px;
  height: 35px;
  border-radius: 50%;

  border: 1px solid #ddd;
  padding: 5px;
  align-items: center;

  display: flex;

  justify-content: center;
  color: black;
  font-size: 13px;
  text-decoration: none;
}
.if-auth {
  position: relative;
  display: none;
  flex-direction: row;
  gap: 10px;
}
.search-btn-nav {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 300px;
  border: 1px solid #ddd;
  border-radius: 30px;
  padding: 5px;
  height: 40px;
  gap: 5px;
}
.search-btn-nav input {
  height: 100%;
  width: 100%;
  padding: 5px;
  transition: all 0.5s ease-in-out;
  border-radius: 30px;
  cursor: pointer;
  outline: none;
  font-size: 13px;
  border-right: 2px solid #ddd;
}
.search-btn-nav input::placeholder {
  font-size: 13px;
}
.search-btn-nav input:focus {
  border: 1px solid #ddd;
  background-color: #eee;
}

.search-btn-nav button {
  font-size: 13px;
  height: 100%;
  padding: 7px;

  border-radius: 30px;
  transition: all 0.5s ease-in-out;
  display: flex;
  gap: 5px;
  align-items: center;
  justify-content: center;
}
.search-btn-nav button i {
  transform: scale(0.8);
}

.search-btn-nav button:hover {
  background-color: #eee;
  /* color: white; */
}
.search-btn-nav input:hover {
  background-color: #eee;
}

.reach-out-second-nav {
  position: sticky;
  top: 70px;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  padding: 30px;
  z-index: 33;
  background-color: white;
}
.medical-professions {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 15px;
}
.medical-professions a {
  font-size: 15px;
  display: flex;
  flex-direction: row;
  gap: 3px;
  align-items: baseline;
}
.medical-professions a i {
  transform: scale(0.8);
}

.medical-professions a:hover {
  color: #321564;
}

.bottom-grid {
  position: relative;

  padding: 0px 20px;
  display: flex;
  flex-direction: row;
  gap: 20px;

  /* transform: translateY(-100px); */
  /* top: 70px; */
  height: auto;
  z-index: 13;
  min-height: 100vh;
  margin-top: 10px;
}
.left-grid {
  position: sticky;
  top: 80px;
  display: flex;
  flex-direction: column;
  width: 400px;
  height: 100%;
  border: 1px solid #ddd;

  /* border-radius: 5px; */
  background-color: white;
  padding-top: 20px;
  border-radius: 10px;
}
.practioner-image {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  min-height: 100px;
  padding-bottom: 20px;

  align-items: center;
  justify-content: center;
  border-bottom: 1px solid #eee;
}
.practioner-image img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  box-shadow: 0 0 10px rgba(0 0 0 /20%);
  border: 3px solid white;
  object-fit: cover;
  object-position: center;
  margin-bottom: 10px;
}
.practioner-image p {
  font-weight: 600;
  color: #040c18;
}
.practioner-image h4 {
  font-size: 13px;
}
.practioner-image a {
  width: 100px;
  padding: 5px;
  color: black;
  border: 1px solid #ddd;
  border-radius: 5px;
  display: flex;
  align-items: center;
  margin-top: 10px;
  flex-direction: row;
  gap: 10px;
  font-size: 12px;

  justify-content: center;
}
.grid-check-list {
  position: relative;
  display: flex;
  flex-direction: row;
  width: 100%;
  border-bottom: 1px solid #eee;
}
.grid-check-list span {
  flex: 1;
  padding: 10px;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.grid-check-list span:first-child {
  border-right: 1px solid #eee;
}
.grid-check-list span p {
  font-size: 13px;
}
.grid-check-list span h1 {
  font-weight: 600;
}
.message-conatct-div {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 20px 10px;
  gap: 10px;
  border-bottom: 1px solid #ddd;
}
.message-conatct-div a {
  display: flex;
  flex-direction: row;
  gap: 10px;
  padding: 5px 10px;
  border-radius: 5px;
  font-size: 14px;
  align-items: center;
  border: 1px solid #ddd;
}
.message-conatct-div a i {
  color: #321564;
}

.right-side-grid {
  position: relative;
  display: flex;
  width: 100%;
  height: auto;

  min-height: 100vh;
  flex-direction: column;
}

.practioner-details-nav {
  position: relative;
  display: flex;
  flex-direction: row;
  width: 100%;
}
.main-pct-det {
  position: relative;

  background-color: white;

  display: flex;
  flex-direction: row;
  gap: 10px;
  width: 100%;
  /* border: 1px solid #ddd; */
  align-items: center;
  border-radius: 6px;
  height: 50px;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;

  border-bottom: none;
  /* margin-bottom: 20px; */
}

.main-pct-det a {
  padding: 5px 10px;
  font-size: 13px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.main-pct-det .active::before {
  position: absolute;
  top: 38px;
  width: 100%;
  height: 3px;
  border-radius: 10px;
  background-color: #321564;
  display: flex;
  content: "";

  z-index: 9;
  /* left: -2px; */
}
.about-me {
  border-top-left-radius: 0px !important;
  border-top: none !important;
}
.sza-section {
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 20px 10px;
  background-color: white;
  /* border: 1px solid #ddd; */
  width: 100%;

  /* margin-bottom: 20px; */
}
.sca-header {
  /* border-bottom: 1px solid #ddd; */
  height: 40px;
  display: flex;
  align-items: center;
  padding-bottom: 10px;
}
.sca-header h4 {
  /* font-weight: 600; */
  font-size: 20px;
}
.sza-section span {
  position: relative;
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}
.sza-section p {
  /* margin-top: 23px; */
  font-size: 13px;
}

.experience-whole {
  position: relative;
  display: flex;
  flex-direction: row;
  width: 100%;
  padding: 20px;
  border-radius: 10px;
  /* height: 200px; */

  min-height: 150px;
  margin-bottom: 10px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;

  border: 1px solid #ddd;
  /* border-bottom: none; */
}

.sza-section span .experience-whole:last-child {
  border-bottom: 1px solid #ddd;
}
.experience-whole:hover {
  background-color: #eee;
  border-left: 0px solid #ddd;
}
.experience-whole h1 {
  font-size: 20px;
  font-weight: 600;
}
.date-of-work {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 5px;
  width: 100%;
  margin: 10px 0px;
}
.date-of-work p {
  color: #545454;
  font-size: 13px;
  font-weight: 600;
}
.ptrc {
  position: relative;
  display: flex;
  flex-direction: row;
  width: 100%;
}
.ptrc button {
  padding: 5px 10px;
  border-radius: 30px;
  border: 2px solid #321564;
  color: black;
  width: 150px;
  font-size: 13px;
}
