/* styles for medChatbot main container */

.MedChatBotContainer {
  width: 100vw;
  height: 100vh;
  
  display: flex;
  align-items: center;
  padding: 15px;
  justify-content: center;
  background-size: cover;
  background-position: center top;
  background-repeat: no-repeat;
background-image: url('../../../public/assets/images/bg-shapes.png');

}
.chatbot-whole{
  position: relative
  ;

  height: 100vh;
  display: flex;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  /* margin-top: 80px; */
 

}

.header-left{
  position: sticky;
  top: 0;
  left: 0;
  background-color: #040C18;
  z-index: 333;
  display: flex;
  flex-direction: row;
  align-items: center;
  /* height: 70px; */
  
  justify-content: space-between;
  margin: 10px 0px;
  margin-bottom: 20px;


  color: white;

}
.serach-span{
  /* border: 2px solid #ddd; */
  height: 40px;
  width: 100%;
  border-radius: 30px;
  display: flex;
  background-color: #ecf0f1;
  flex-direction: row;
  /* gap: 10px; */
  /* margin-top: 20px; */
  align-items: center;
  color: black;
  padding: 0px 10px;
}
.serach-span input{
  border: none;
  height: 40px;
  outline: none;
  padding:0px 10px;
  width: 100%;
  color: black;
  background-color: transparent;
  font-size: 15px;
  
}
.serach-span input::placeholder{
  color: black;
}
.serach-span i{
  font-size: 13px;
  color: var(--border-color);
}












.chatbotContainer {
  width: 800px;
  height: 600px;
  background-color:#140B24;
  display: flex;
  flex-direction: column;
  border: 1px solid #1f2634;
  border-radius: 10px;
  overflow: hidden;
 
  /* margin-left: 350px; */
}
@media screen and (max-width:1200px){
  .chatbotContainer{
    width: 100% !important;
    height: 100% !important;
  }
  .chatbot-whole{
    padding: 15px 0px;
  }
  
}

.user-details {
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
  padding: 0.4rem 1rem;
  background-color: #040C18 ;

  /* border-bottom: 1px solid var(--border-color); */

}
.user-details h2 {
  color: white;
}

.user-details span {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.ttx{
  cursor: pointer;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid var(--border-color);
  background-color: var(--border-color)
}


.header-menue{
  position: relative;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  color: white;
}
.header-menue h2{
  font-size: 12px;
  margin: 0;
}
.medai-chose-p{
  cursor: pointer;
  position: relative;
  display: flex;
  background-color: var(--border-color);
  border-radius: 5px;
  padding:10px;

}
.medai-chose-p h2{
  position: relative;
  display: flex;
  gap: 5px;
  align-items: center;


}
.list-proo-and-active{
  position: absolute;
  top: 40px;
  /* left: 40px; */
  width: 300px;
  left: -10px;
  background-color: #040C18;
  border: 1px solid var(--border-color);
  border-radius: 5px;
  padding: 10px;
  display: flex;
  opacity: 0;
  visibility: hidden;
  flex-direction: column;
  height: auto;
  z-index: 3332;
  gap: 10px;

}
.list-proo-and-active span{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  border-radius: 5px;
  transition: all 0.5s ease-in-out;
 
  



}
.list-proo-and-active span:hover{
  background-color: var(--border-color);
}
.list-proo-and-active a{
  font-size: 12px;
  padding: 5px 20px;
  text-decoration: none;
  border-radius: 30px;
  color: white;
  background-color: var(--second-light-purple);
}
.pro-icon{
  color: green;
  
}
.standard-ico{
  color:  #ff8a71;
}
.activedescr i{
  font-size: 13px;
  width: 20px;
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;

  color: white;
  background-color: #040C18 !important;



}
.descr{
  position: relative;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  

}
.descr img{
  max-width: 20px;
}
.descr h4{
  font-size: 13px;
  display: flex;
  flex-direction: row;
  margin: 0;
  gap: 10px;

  align-items: center;
}
.activedescr{
  background-color: var(--border-color) !important;
}
.medai-chose-p:hover .list-proo-and-active{
  opacity: 1;
  visibility: visible;

}
.profileImg img {
  height: 2rem;
  width: 2rem;
  border-radius: 100%;
  object-fit: cover;
  cursor: pointer;
}
.chatbotContainer .chat-header .user-details .username h3 {
  color: white;
  cursor: pointer;
  font-size: 15px;
  text-transform: capitalize;
  margin: 0;
}


/* .chatbotContainer .chat-container {

} */

.chatbotContainer .chat-container {
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  height: 100%;
  overflow: auto;
  /* border-left: 1px solid var(--border-color); */
}


.message {
  display: flex;
  align-items: center;
 
  
}
.content{
  flex-direction: row;
  gap: 20px;
  position: relative;
  display: flex;
  
}
.content h6{
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 15px;
  border-radius: 50%;
  border: 2px solid var(--border-color);
}
.received h6 img,
.content h6 img{
  width: 100%;
  height: 100%;
  border-radius: 50%;
  object-fit: cover;
  /* border: 2px solid white; */

}
.content p{
  min-width: 100px;
  max-width: 300px;
  
  padding: 1rem;
  font-size: 12px;
  border-radius: 30px;
  border-top-left-radius: 0px !important;

  color: #d1d1d1;
 transform: translateY(20px);
 /* background-color: #22113e; */
  background-color: 
  var(--border-color)
}
.message.sent .content{
  display: flex;
  flex-direction: row-reverse;
}
.message.sent .content p{
  border-top-right-radius: 0px;
  margin: 0;

  border-top-left-radius: 30px !important;
}
.chat-input.nopadding{
  padding: 15px 15px;
}
.sent {
  justify-content: flex-end;
  
  .co
  ntent p {
    background-color: 
    var(--border-color);

  }
}
.received {
  justify-content: flex-start;
  .content {
    /* background-color: #9900ff20; */
  }
}



@media screen and (max-width:532px){
  .chat-container{
    padding: 15px !important;
  }
  .content h6{
    margin: 0;
    width: 35px;
    height: 35px;

  }
  
}

.chat-input {
 display: flex;
 flex-direction: row;
  align-items: center;
  background-color:#040c18;
 
  gap: 10px;
  padding:15px  80px ;
  border-top: 1px solid var(--border-color);
  /* padding-bottom: 20px; */
  /* border-left: 1px solid var(--border-color); */

  
}
@media screen and (max-width:596px){
  .chat-input{
    padding: 
   15px;
  }
  
}
.button-container {
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  gap: 1rem;
}
.input-container {
  width: 100%;
  /* border-radius: 2rem; */
  display: flex;
  align-items: center;
  gap: 10px;
  background-color: var(--border-color);
  border-radius: 30px;
  height: 45px;
  padding: 10px;

  
 
}
.input-container input {
  width: 100%;
  background-color: transparent;
  color: white;
  border: none;
  padding: 10px;
  font-size: 15px;

 
  
  outline: none;
 
  height: 45px;
  
 
}
.input-container input::placeholder{
  color:white;
}
.input-container button {
 cursor: pointer;
  /* background-color: #22113e; */
 
 
}
.chat-input i{
  cursor: pointer;
}

.notSubmit {
  background-color: var(--border-color);
  display: flex;
  justify-content: center;
  align-items: center;
  
  border: none;
  color: white;
  font-size: 20px;
 
}
.submit {
  
  background-color: var(--border-color);
  display: flex;
  justify-content: center;
  align-items: center;
  
  border: none;
  color: white;
  font-size: 20px;
}
.pin-sendimage{
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 50px;
  cursor: pointer;
  height: 45px;
  /* background-color: #22113e; */
  background-color: #262E3C;
  border-radius: 50%;
  justify-content: center;
  color: white;
 

}
.pin-sendimage i{
  color: white;
}

.image-div-and-send{
  width: 250px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  background-color: #040C18;
  padding: 5px;
  position: absolute;
  justify-content: center;
  border-radius: 5px;
  height: auto;
  top: -170px;
  left: -200px;
  cursor: pointer;
  border: 1px solid var(--border-color);

}
.upload-img {
  position: relative;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 5px;
  background-color: var(--border-color);
  border-radius: 5px;
  height: 30px;
}
.image-div-and-send i{
  font-size: 13px;
}
.image-div-and-send p{
  margin: 0;
  font-size: 12px;
}
.clipboard-sensor{
  width: 100%;
  display: flex;

}
.clipboard-sensor i{
  position: absolute;
  left: 10px;
  top: 10px;

  width: 20px ;
  height: 20px ;
  border-radius: 50%;
  display: flex;
  font-size: 13px;
  align-items: center;
  justify-content: center;
  color: white;
  background-color: rgba(0,0,0,0.7)

}
.clipboard-sensor img{
  width: 100%;
  height: 100px;
  border-radius: 5px;
  object-fit: cover;
  object-position: center top;
}