@tailwind base;
@tailwind components;
@tailwind utilities;
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Sora", sans-serif;
}

body {
  background-color: white;

  display: flex;
  width: 100%;
  height: auto;
  min-height: 100vh;
}

:root {
  --font-family-sora: "Sora" sans-serif;
  --container-sm: 540px;
  --container-md: 720px;
  --container-lg: 960px;
  --container-xl: 1140px;
  --container-xxl: 1320px;
  --border-color: #1f2634;
  --light-border-color: #2b3341;
  --site-peach: #ff8a71;
  --site-green: #228b22;

  --light-color: #140b24;
  --light-grey: #d3d3d3;
  --second-light-purple: #321564;
}
h1,
h2,
h3,
h4,
h5,
h6,
input,
a,
span,
ul,
li,
p,
button {
  font-family: var(--font-family-sora) !important;
}
.home-body {
  z-index: 8;
}
.loader {
  border: 16px solid #f3f3f3; /* Light grey border */
  border-top: 16px solid hsl(265, 98%, 26%); /* Blue border */
  border-radius: 50%;
  width: 120px; /* Increased width */
  height: 120px; /* Increased height */
  animation: spin 2s linear infinite;

  /* Center the loader */
  position: fixed;
  top: 45%;
  left: 45%;
  transform: translate(-50%, -50%);
  z-index: 9999; /* Ensure it's on top */
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}



.chatbot-div {
  position: fixed !important;
  top: 0;
  left: 0;

  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(20px);
  width: 100%;
  height: 100vh;
  scale: 0;
  z-index: 22222;
  /* cursor: pointer; */

  opacity: 0;
  transition: all 0.5s ease-in-out;
}

.chatbot-div.active {
  opacity: 1;
  scale: 1;
  padding: 10px 15px;
}
.cursor-pointer {
  width: 100%;
  height: auto;
  overflow: visible;
  position: absolute;
  top: 0;
  min-height: 100vh;
  left: 0;
  z-index: 4;
}
.cursor {
  position: absolute;
  width: 500px;
  height: 500px;
  border-radius: 50%;
  background: #2c1459;
  /* backdrop-filter: blur(10px); */

  pointer-events: none; /* Ensures cursor div doesn't interfere with underlying elements */
  transform: translate(-50%, -50%);
}
/* General styles for the container */
.container-bc,
.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

@media (min-width: 760px) {
  .container-bc,
  .container {
    max-width: var(--container-sm);
  }
}

@media (min-width: 799px) {
  .container-bc,
  .container {
    max-width: var(--container-md);
  }
}

@media (min-width: 992px) {
  .container-bc,
  .container {
    max-width: var(--container-lg);
  }
}

@media (min-width: 1200px) {
  .container-bc,
  .container {
    max-width: var(--container-xl);
  }
}

@media (min-width: 1400px) {
  .container-bc,
  .container {
    max-width: var(--container-xxl);
  }
}

.chatbotClick {
  position: fixed;
  bottom: 4.5vh;
  right: 4vw;
  width: 4rem;
  height: 4rem;
  border-radius: 4rem;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white ;
  z-index: 333;
  font-size: 15px;
  font-family: var(--font-family-sora);
}
.circle {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: #8e44ad;
  animation: ping 2s infinite ease-in-out;
}
.circle2 {
  animation-delay: 0.3s;
  background-color: #3498db;
}
.circle3 {
  animation-delay: 0.6s;
  background-color: #9b59b6;
}
.inner-circle {
  position: absolute;
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  background: linear-gradient(135deg, #431288, #2e097d 48%, #42178b);
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ecf0f1;
  font-size: 10px;
  font-weight: bold;
  cursor: pointer;
}
.inner-circle:hover {
  opacity: 0.8;
}
.inner-circle:active {
  opacity: 0.7;
}
@keyframes ping {
  0% {
    transform: scale(0);
    opacity: 0.5;
  }
  100% {
    transform: scale(2);
    opacity: 0;
  }
}

/* styles for homepage js  */

.scrolled {
  background: #040c18;
  backdrop-filter: blur(10px);

  /* border-bottom: 2px solid var(--border-color); */
}
.hero-body {
  position: relative;
}
.nav {
  width: 100%;
  height: 70px;
  position: fixed;

  z-index: 233;
  top: 0;
}
.nav-ul {
  position: relative;
  display: flex;
  flex-direction: row;
  width: 100%;
  padding: 10px 0px;
  align-items: center;
  justify-content: space-between;
}

.logo-img img {
  max-width: 27px;
  /* height: 50px; */
  /* position: absolute; */
  top: 10px;

  transform: translateY(2px);
}

.main-ul {
  position: relative;
  display: flex;
  flex-direction: row;
  /* gap: 10px; */
  align-items: center;
}
.main-ul li {
  padding: 0px 10px;
  list-style: none;
}
.main-ul li a {
  color: white;
 
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  /* font-size: 12px; */
  text-decoration: none;
}
.last-li {
  display: flex;
  flex-direction: row;
  gap: 10px;
}
.last-li a {
  padding: 10px 20px;
  text-decoration: none;
  color: white;
  border-radius: 10px;

  /* border: 1px solid #ddd; */

  background-color: var(--second-light-purple);

  font-size: 13px;
  /* font-weight: 500; */
}
.last-li a:last-child {
  background-color: transparent;
  color: white;
  border: 1px solid #ddd;
}
.hidden-toggle {
  position: relative;
  display: none !important;
  flex-direction: row;
  gap: 15px;
  align-items: center;
}
.hidden-toggle img {
  max-width: 27px;
}
.hidden-toggle i {
  color: white;
}
.hidden-toggle i:first-child {
  width: 25px;
  height: 25px;
  border: 2px solid white;
  border-radius: 50%;
  font-size: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.left-o {
  position: relative;
  display: flex;
  left: -10px;
}
.hidden-toggle.pst {
  width: 100%;
  border-bottom: 2px solid var(--border-color);
  padding-bottom: 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.bottom-nav {
  flex-direction: column;
  width: 100%;
  display: flex;
  position: relative;
  gap: 15px;
}
.bottom-nav a {
  width: 100% !important;
  position: relative;
  height: 40px;
  color: white;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
}
.hidden-t {
  width: 100%;
  display: none;
  margin-top: 20px;
}
.hidden-t a:first-child {
  background-color: white;
  color: black;
}
.hidden-t a:last-child {
  background-color: #321564;
  color: white;
}

@media screen and (max-width: 810px) {
  .last-li {
    display: none;
  }
  .main-ul {
    position: fixed;
    top: 0;
    left: -500px;
    flex-direction: column;
    width: 300px;
    background-color: #040c18;
    align-items: start;
    backdrop-filter: blur(24px);
    border: 2px solid var(--border-color);

    padding: 15px;
    height: 100vh;
    transition: all 0.5s ease-in-out;
  }
  .main-ul.active {
    left: 0;
    opacity: 1;
  }
  .hidden-t,
  .hidden-toggle {
    display: flex !important;
  }
  .main-ul .hidden-toggle {
    margin-bottom: 20px;
  }
  .main-ul li {
    margin: 10px 0px;
  }
  .main-ul li a {
    /* font-size: 20px; */
    text-decoration: none;
  }
  .logo-img {
    display: none;
  }
}

.her0-z {
  position: relative;
  display: flex;
  flex-direction: column;
  height: auto;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
  /* background: radial-gradient(
    circle at 11% 0%,
    #321564 0%,
    rgba(4, 12, 24, 1) 50%,
    #040c18 100%
  ); */
}
.main-hero {
  position: relative;
  display: grid;
  grid-template-columns: 1fr 1fr;
  /* align-items: center; */
  gap: 20px;
  margin-top: 80px;
  z-index: 5;

  align-items: center;

  justify-content: center;
  /* text-align: center; */
}

.text-box h1 {
  font-size: 3em;
  max-width: 600px;
  font-weight: 700;

  color: white;
}

.text-box h3 {
  font-size: 20px;
  font-variant: inherit;
  font-weight: lighter;
  color: #ff8a71;
  max-width: 400px;
  margin-top: 10px;
}
.facts-section {
  width: 100%;
  border-radius: 10px;
  /* border: 1px solid #ddd; */
  padding: 10px;
  height: 150px;
  overflow: hidden;
  /* background-color:#321564 ; */
  margin-top: 20px;
}
.facts-section p {
  font-size: 15px;
  max-width: 400px;
  color: #ff8a71;
  letter-spacing: 2px;
  line-height: 25px;
  font-family: Arial, Helvetica, sans-serif !important;
}

.btns {
  position: relative;
  display: flex;
  flex-direction: row;
  gap: 10px;
  /* align-items: center; */
  margin-top: 40px;
}
.btns a {
  width: 200px;
  /* border: 1px solid #ddd; */
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  height: 50px;
  color: white;
}
.btns a:first-child {
  background-color: #321564;
}
.email-btn {
  position: relative;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  margin-top: 30px;
}
.form-input-hero {
  border: 1px solid #ddd;

  height: 60px;
  border-radius: 10px;
  /* border-top-left-radius: 10px;
  border-bottom-left-radius: 10px; */
  width: 400px;
  padding: 10px;
  color: white;

  font-weight: 600;

  background: transparent;

  /* background: #e8f0fe; */
}
.email-btn a {
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  border-radius: 10px;
  /* border-top-right-radius: 10px;
  border-bottom-right-radius: 10px; */
  background-color: #431288;
  text-decoration: none;
  cursor: pointer;
  /* border: 1px solid #ddd; */

  padding: 10px;
}
.users-on-site {
  position: relative;
  display: flex;
  flex-direction: row;
  width: 100%;
  align-items: center;
  margin-top: 20px;
  /* gap: 15px; */
}
.users-on-site img {
  max-width: 150px;
}
.acess-me {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  border: 2px solid white;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 12px;
  margin-left: -10px;
  background-color: #ff8a71;
}

.users-on-site p {
  color: white;
}
.margin-p {
  margin-left: 15px;
}
.img-anim {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.img-anim img {
  max-width: 500px;
}
@media screen and (max-width: 1200px) {
  .img-anim img {
    max-width: 100%;
  }
}
@media screen and (max-width: 999px) {
  .main-hero {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    gap: 40px;
    height: auto;
  }
  .img-anim img {
    max-width: 400px;
  }
  .text-box {
    text-align: center;
  }
  .email-btn {
    justify-content: center;
  }
  .users-on-site {
    justify-content: center;
  }
}
@media screen and (max-width: 600px) {
  .text-box h1 {
    font-size: 2em;
  }
  .users-on-site,
  .email-btn {
    flex-direction: column;
  }
  .email-btn a,
  .email-btn input {
    width: 100%;
  }
  .main-hero {
    margin-top: 100px;
  }
}
@media screen and (max-width: 400px) {
  .img-anim img {
    max-width: 100%;
  }
}

.sponsors {
  position: relative;
  display: flex;
  flex-direction: column;
  z-index: 5;
  margin: 30px 0px;
  align-items: center;
  width: 100%;
  justify-content: center;
}
.main-sponsors {
  position: relative;
  display: flex;
  flex-direction: row;
  gap: 20px;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
  align-items: center;
  justify-content: center;
}
.main-sponsors img {
  max-width: 150px;
}

/* .revolutionalizing-h */
/* .revolutionalizing-h */
.revolutionalizing-h {
  position: relative;

  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: center;
  height: auto;
  min-height: 100vh;
  z-index: 5;
  margin-top: 40px;
  color: white !important;
}

.animation-images {
  width: 100%;
  margin-top: 40px;
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 10px;
}

.animation-images img {
  max-width: 100%;
}
.header-chose-img {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 300px;
  border-radius: 10px;
  /* align-items: center; */
  border: 2px solid var(--border-color);
}
.header-chose-img a {
  color: white;

  font-weight: 600;
  width: auto;
  padding: 10px;
  display: flex;
  text-decoration: none;
  height: 50px;
  width: auto;
  border-bottom: 1px solid var(--border-color);
  align-items: center;
  width: 100%;
  gap: 8px;
  transition: all 0.5s ease-in-out;

  /* justify-content: center; */
}
.header-chose-img a:first-child {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.headerst:hover {
  background-color: var(--second-light-purple);
}
.headerst:hover i {
  color: white;
}
.headerst i {
  color: var(--second-light-purple);
}

@media screen and (max-width: 1044px) {
  .animation-images {
    display: flex;
    flex-direction: column;
    gap: 0;
  }
  .header-chose-img {
    border-bottom: none;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    flex-direction: row;
    margin-left: 10px;
    width: auto;
    margin-right: 10px;
    /* height: 70px; */
  }
  .headerst {
    min-width: 200px;
  }
  .header-chose-img a:first-child {
    border-right: 2px solid var(--border-color);
  }
}
@media screen and (max-width: 617px) {
  /* .headerst,
  .header-chose-img{
    height: 70px !important;
  } */
  .header-chose-img a {
    padding: 10px !important;
    font-size: 13px;
  }
  .headerst {
    min-width: 100px !important;
  }
}

.about-media {
  position: relative;
  display: flex;
  flex-direction: column;
  z-index: 5;
  align-items: center;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: auto;
  min-height: 100vh;
  width: 100%;
  align-items: center;
  justify-content: center;
  padding: 30px 0px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat !important;
  /* background:url(../public/assets/images/bg-shapes.png); */
}
.grid-divs-all {
  width: 100%;

  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  height: 80vh;
  align-items: center;
  justify-content: center;
}

.left-about-media {
  position: relative;
  display: flex;
  /* align-items: center; */
  /* justify-content: center; */
  width: 100%;
}
.left-text {
  position: relative;
  display: flex;
  flex-direction: column;
  /* align-items: center; */
}
.left-text h1 {
  color: white;
  font-size: 2em;
  margin-bottom: 15px;
}
.left-text h1 span {
  color: var(--second-light-purple);
}
.left-text p {
  color: white;
  font-size: 13px;
}

.text-right-div {
  width: 100%;
  position: relative;
  display: flex;
  /* align-items: center; */
  /* justify-content: center; */
}
.text-right-div img {
  max-width: 100%;
}
@media screen and (max-width: 550px) {
  .left-text h1 {
    font-size: 1.5em;
  }
  .left-text {
    margin-top: 100px;
  }
  .grid-divs-all {
    margin-top: 20px;
  }
}

.arcodionx {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
  position: relative;
}
.tt {
  color: white;
  font-size: 3em;
}
.text-right-div h1 {
  color: white;

  font-size: 2.5em;
  text-transform: capitalize;
  max-width: 400px;
  font-weight: 600;
  margin-bottom: 20px;
}
.paragraphs {
  position: relative;
  display: flex;
  flex-direction: column;
  /* align-items: center; */

  width: 100%;
  /* padding: 15px ; */
  transition: all 0.5s ease-in-out;
  border-radius: 10px;
  border: 2px solid #161c28;
}
.paragraphs-vision {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  transition: all 0.5s ease-in-out;
  cursor: pointer;
  gap: 15px;

  height: 60px;
  border-radius: 10px;
  padding: 0px 15px;
}
.paragraphs-vision h3 {
  color: white;
  font-size: 15px;
}

.paragraphs-vision span {
  min-width: 40px;
  height: 40px;
  border: 2px solid #321564;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
}
.paragraphs-vision:hover {
  background-color: var(--second-light-purple);
  color: black;
  border-top-left-radius: 10px;
  border-top-left-radius: 10px;
}

.media-div-full {
  position: relative;
  display: flex;
  padding: 10px;
  background-color: #1e242e;
  width: 100%;
  min-height: 120px;
  border-bottom-left-radius: 10px;
  /* border: 1px solid var(--border-color); */
  border-bottom-right-radius: 10px;
  gap: 10px;
  flex-direction: column;
}
.media-div-full i {
  color: white;
}
.media-div-full p {
  color: white;
  line-height: 20px;
  font-size: 14px;
}
@media screen and (max-width: 482px) {
  .arcodionx {
    display: flex;
    flex-direction: column;
  }
}
@media screen and (max-width: 795px) {
  .grid-divs-all {
    display: flex;
    flex-direction: column;
    gap: 30px;
  }
}

.become-a-practitioner {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100vh;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
  z-index: 5;
}
.become-a-practitioner-main {
  border: 2px solid var(--border-color);
  border-radius: 20px;
  padding: 20px;
  width: 100%;
  height: 400px;
  position: relative;
  z-index: 1;
  /* background: var(--light-color); */
}
.text-become {
  position: relative;
  display: flex;
  flex-direction: column;
  color: white !important;
  justify-content: center;
  height: 100%;
}
.text-become h1 {
  font-size: 2.5em;
  /* color: var(--second-light-purple); */
}
.text-become h1 span {
  color: var(--second-light-purple);
}
.text-become p {
  margin-top: 10px;
  max-width: 600px;
  opacity: 0.5;
}
.btn-class {
  position: relative;
  display: flex;
  margin-top: 20px;
}
.btn-class a {
  color: white;
  font-weight: 600;
  position: relative;
  text-decoration: none;
  padding: 15px;
  z-index: 1;
  align-items: center;
  gap: 5px;
}
.btn-class a::before {
  content: "";
  display: flex;
  position: absolute;
  top: 0px;
  left: 0px;
  width: 50px;
  height: 50px;
  background-color: var(--second-light-purple);
  border-radius: 30px;
  z-index: -1;
  transition: all 0.5s ease-in-out;
}
.btn-class :hover::before {
  width: 100%;
}
.img-abs {
  position: absolute;
  top: 15px;
  left: 65%;
  z-index: -1;
}
.img-abs img {
  max-width: 300px;
  filter: brightness(70%);

  position: relative;
}
@media screen and (max-width: 1015px) {
  .img-abs {
    left: 50%;
  }
  .text-become p {
    opacity: 0.8;
  }
}
@media screen and (max-width: 562px) {
  .img-abs {
    display: none;
  }
  .text-become h1 {
    font-size: 2em;
  }
  .text-become p {
    font-size: 13px;
  }
}

@media screen and (max-width: 550px) {
  .become-a-practitioner {
    height: auto;
    min-height: auto;
  }
}

/* after-hero */
/* after-hero */
/* after-hero */
/* after-hero */
/* after-hero */
.after-hero {
  position: relative;
  display: flex;
  width: 100%;
  height: auto;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
  padding: 20px;
  margin-top: 40px;
}
.news-div {
  position: relative;
  display: flex;
  height: auto;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
}
.header-right {
  position: relative;
  display: flex;
  width: 100%;
  color: white;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
  gap: 10px;
}

.header-right h1 {
  color: white;
  font-size: 2em;
  margin: 0;
  align-items: center;
  display: flex;
  gap: 10px;
  justify-content: center;
  margin: 0;
}
.header-right h1 span {
  color: var(--second-light-purple);
}
.header-right p {
  max-width: 600px;
}
.glow-span {
  display: flex;
  width: 100px;
  height: 5px;
  border-radius: 30px;
  background: radial-gradient(
    circle at 0% 44%,
    #040c18 0%,
    rgba(103, 58, 183, 1) 44%,
    rgba(50, 21, 100, 1) 100%
  );
}

.row-grid {
  position: relative;
  display: grid;

  gap: 10px;

  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
}
.grids-r {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  border-radius: 10px;
  border: 1px solid var(--border-color);
  height: 300px;
  /* width: 300px; */
  /* border: 2px solid var(--border-color); */
  overflow: hidden;
  transition: all 0.5s ease-in-out;
  cursor: pointer;
  justify-content: flex-end;
}

.grids-r:hover .img-grid img {
  scale: 1.2;
}
.grids-r::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  z-index: 2;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 1));
}
.img-grid {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;

  display: flex;
}
.grids-r img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  transition: all 0.5s ease-out;

  /* filter: brightness(40%); */
}
.love-div {
  position: absolute;
  top: 10px;
  left: 90%;

  display: flex;
  z-index: 3;
}
.love-div i {
  color: white;
  font-size: 20px;
}
.text-ai {
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 15px;
  color: white;
  gap: 10px;
  z-index: 4;
}
.text-ai a {
  color: black;
  /* font-size: 12px; */
  text-decoration: none;
  position: relative;

  border-radius: 30px;
  display: flex;
  align-items: center;

  z-index: 1;

  font-size: 15px;

  padding: 15px;
  height: 40px;

  transition: all 0.5s ease-in-out;
  margin-top: 10px;
}
.text-ai a:hover {
  width: 150px;
  background-color: transparent;
  justify-content: start;
  color: white;
}

.text-ai a i {
  color: white;
  font-size: 15px;
}
.text-ai a:hover i {
  color: white;
}

.text-ai p {
  font-size: 15px;
}

/* details-more */
/* details-more */
/* details-more */

.more-details {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100vh;
}
.details-more {
  position: relative;
  display: flex;
  width: 100%;
  height: auto;

  padding: 70px;
  flex-direction: column;
}
.img-details-more {
  position: relative;
  display: flex;
  width: 100%;
  height: 100vh;
}
.img-details-more::before {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  content: "";
  height: 100%;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
}
.img-details-more img {
  width: 100% !important;
  height: 100%;
  object-fit: cover;
  object-position: center top;
  border-radius: 10px;
}
.animated-bb {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  align-items: center;
  display: flex;
  justify-content: center;
}
.absolute-banners {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: row;
}
.bannert {
  transition: all 0.5s ease-in-out;
  cursor: pointer;
}
.bannert:hover {
  transform: translate(5px, 5px);
}
.banner-ab-right {
  position: relative;
  background-color: #040c18;
  border: 1px solid var(--border-color);
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 200px;
  color: white;
  flex-direction: row;
  gap: 10px;
  padding: 15px;
  border-radius: 10px;
}
.banner-ab-right p {
  color: white;
}
.banner-ab-right p span {
  color: #ff8a71;
}
.banner-ab-right img {
  max-width: 30px;
}
.banner-ab-left {
  position: relative;
  width: 400px;
  background-color: #040c18;
  height: auto;
  /* min-height: 400px; */
  padding: 15px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  /* border: 1px solid var(--border-color); */
  border-radius: 10px;
}
.row-t {
  position: relative;
  display: flex;
  flex-direction: row;
  gap: 15px;
  align-items: center;
}
.row-t span {
  min-width: 50px;
  height: 40px;
  align-items: center;
  background-color: var(--border-color);

  justify-content: center;

  display: flex;
  border-radius: 5px;
}
.row-t span img {
  max-width: 20px;
}
.row-t p {
  height: 40px;
  width: auto;
  background-color: var(--border-color);
  display: flex;
  padding: 0px 10px;
  align-items: center;
  /* justify-content: center; */
  color: white;
  width: 100%;
  border-radius: 5px;
  font-size: 12px;
}
.banner-ab-bottom {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 500px;
  /* background-color: #140b24; */
  border-radius: 10px;
  padding: 15px;

  align-items: center;
  justify-content: center;
}

.facts-box {
  position: relative;
  display: flex;
  width: 100%;
  background-color: #040c18;
  border: 1px solid var(--border-color);
  padding: 10px;
  height: 150px;
  border-radius: 5px;
  overflow: hidden;
  overflow-y: auto;
}
.facts-box::before {
  position: absolute;
  font-size: 12px;
  top: 0;
  border-bottom-right-radius: 5px;
  left: 0;
  padding: 5px 10px;
  background-color: var(--second-light-purple);
  color: white;
  content: "Facts";
}
.spantext {
  color: #ff8a71;
  font-size: 12px;
  margin-top: 20px;
}
.typing span {
  color: white !important;
}
@media screen and (max-width: 1033px) {
  .banner-ab-left,
  .banner-ab-right,
  .banner-ab-bottom {
    position: relative;
    left: 0;
    top: 0;
  }
  .absolute-banners {
    flex-direction: column;
  }
}

/* src/AnimatedButton.css */
.animated-button {
  position: relative;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  font-size: 16px;
  border: none;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  cursor: pointer;
  overflow: hidden;
  transition: transform 0.1s ease-in-out;
}

.animated-button i {
  margin: 0;
  font-size: 20px;
  transition: transform 0.1s ease-in-out;
}

@keyframes bounce-back {
  0% {
    transform: translate(0px, 0px);
  }
  20% {
    transform: translate(10px, -10px);
  }
  40% {
    transform: translate(-10px, 10px);
  }
  60% {
    transform: translate(5px, -5px);
  }
  80% {
    transform: translate(-5px, 5px);
  }
  100% {
    transform: translate(0px, 0px);
  }
}

/* sticky-cmponent */
/* sticky-cmponent */
/* sticky-cmponent */
.card-1 {
  background-color: red;
  border-radius: 30px;
  height: 500px;
  position: sticky;
  /* top: 700px !important; */
  margin-top: 10px;
  top: 70px;
  display: flex;
  width: 100%;
}
.card33 {
  background-color: blue;
  height: 300vh;
  width: 100%;
  display: flex;
  position: relative !important;
}
.stickyComponent-whole {
  position: relative;
  height: 500px;
  width: 100%;
  /* overflow-y: auto; */
  display: flex;
}

.sticky-box {
  position: sticky;
  width: 100%;

  max-height: 430px;
  background-color: var(--border-color);
  border-radius: 20px;
  /* margin-top: 20px; */
  top: 0px;

  z-index: 1;
  display: flex;
  grid-template-columns: 1fr 1fr;
  grid-gap: 10px;
}
.text-box-sticky {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
  padding: 20px;
}
.text-box-sticky > div {
  position: relative;
  display: flex;
  flex-direction: column;
}
.text-box-sticky ul {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 20px;
}
.text-box-sticky ul li {
  display: flex;
  flex-direction: row;
  gap: 10px;
  /* align-items: center; */
  position: relative;
}
.text-box-sticky ul li img {
  width: 25px;
  height: 25px;
  object-fit: cover;
}
.text-box-sticky p {
  font-size: 13px;
}
.image-box-sticky {
  position: relative;
  width: 100%;
  height: 430px;
  display: flex;
}
.image-box-sticky img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* styles for facts js */
.factsContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.factsAddIcon {
  position: fixed;
  bottom: 5%;
  right: 5%;
  font-size: 20px;
  color: #fff;
  cursor: pointer;
  padding: 15px;
  backdrop-filter: blur(50px);
  background-color: rgba(32, 32, 59, 0.3);
  border-radius: 50px;
  z-index: 99;
}
.addFactDiv {
  position: fixed;
  bottom: 0%;
  width: 50%;
  height: 40vh;
  background-color: #fff;
  z-index: 1;
  border-radius: 20px 20px 0 0;
  transition: 1s;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.addFactDiv textarea {
  width: 80%;
  height: 150px;
  padding: 10px;
  font-size: 10px;
  font-weight: bolder;
  border-radius: 20px 20px 0 0;
}
.addFactDiv button {
  width: 50%;
  padding: 10px;
  margin: 5px;
  border-radius: 10px;
  cursor: pointer;
  font-variant: small-caps;
  color: #fff;
  background-color: rgb(18, 25, 48);
}
.addFactDiv button:hover {
  background-color: #20264f;
}
.addFactDiv button:active {
  background-color: #1a2670;
}
.factsAddIcon:hover {
  background-color: rgba(16, 16, 17, 0.3);
  color: #1a2670;
}
.factsAddIcon:active {
  opacity: 0.7;
  color: #fff;
}
.searchInput {
  width: 100%;
  padding: 10px;
  border-radius: 10px;
  border: 2px solid var(--border-color);
  background: none;
  color: white;
  font-size: 13px;
  font-family: sans-serif;
}
.factsContainer h1 {
  margin-top: 30px;
  color: #fff;
  font-variant: small-caps;
}

.factsContainer .textCon {
  width: 70vw;
  color: #fff;
  padding: 15px 20px;
  margin: 10px 20px;
  border-radius: 20px;
  backdrop-filter: blur(50px);
  background: rgba(41, 33, 75, 0.3);
}
.factsContainer .textCon h3 {
  font-size: 20px;
  font-variant: inherit;
  font-weight: lighter;
  color: rgb(255, 0, 234);
  text-shadow: 2px 2px 4px #3a3e58;
  letter-spacing: 2px;
  word-spacing: 10px;
  font-style: unset;
  font-family: poppins, sans-serif;
}
.factsContainer .textCon span {
  display: flex;
  margin: 10px;
}
.factsContainer .textCon span i {
  padding: 10px 30px;
  border: 1px solid white;
  text-align: center;
  cursor: pointer;
  z-index: 1;
}
.factsContainer .textCon span i:hover {
  background-color: rgb(4, 30, 79);
}
.factsContainer .textCon textarea {
  width: 100%;
  padding: 10px;
}
.factsContainer .textCon span button {
  width: 100px;
  height: 30px;
  margin: 5px;
  border-radius: 10px;
  border: none;
  cursor: pointer;
}
.factsContainer .textCon span button:hover {
  background-color: #1a2670 !important;
}
.factsContainer .textCon span button:active {
  opacity: 0.8;
}
.emptyMessage {
  width: 40%;
  height: 10vh;
  margin: 10px;
  color: white;
  backdrop-filter: blur(50px);
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* styles for about js */
.aboutContainer {
  position: relative;
  width: 75%;
  height: 85vh;
  background-image: linear-gradient(rgb(0, 0, 0, 0.3), transparent),
    url("../public/assets/images/gradient-particles-background/background\ 5.jpg");
  background-size: cover;
  background-position: 0 8%;
  border-radius: 20px;
  box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px;
}
.aboutContainer .aboutWrap {
  width: 100%;
  display: flex;
  justify-content: space-around;
}
.aboutContainer .aboutWrap h1 {
  font-size: 70px;
  line-height: 100px;
  margin-left: -10px;
  color: transparent;
  -webkit-text-stroke: 1px #fff;
  background: url("../public/assets/images/mayra_img/images/back.png");
  -webkit-background-clip: text;
  background-size: auto 100%; /* Ensure background image covers the text */
  background-position: 0 0; /* Start with background positioned at the top left */
  animation: back 200s linear infinite;
  align-self: center;
}
.aboutContainer .aboutWrap .imageContainer {
  position: relative;
  background-color: black;
  width: 30%;
  height: 40vh;
  border-radius: 20px;
  box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.2);
}
.aboutContainer .aboutWrap .imageContainer img {
  position: absolute;
  width: 100%;
  height: 40vh;
  object-fit: cover;
}
.aboutContainer .aboutTextContainer {
  width: 90%;
  overflow: hidden;
}
.aboutContainer .aboutTextContainer .item {
  color: #fff;
  height: fit-content;
  position: absolute;
  bottom: 5%;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 20px;
  box-sizing: border-box;
  transition: transform 0.3s ease;
  backdrop-filter: blur(50px);
  border-radius: 20px;
}
.aboutContainer .aboutTextContainer .item h1 {
  font-size: 30px;
  line-height: 30px;
  text-shadow: 2px 2px 4px #3a3e58;
  font-style: unset;
  font-family: poppins, sans-serif;
}

/* styles for the toastify notification  */
.Toastify__progress-bar {
  background: var(
    --second-light-purple
  ) !important; /* Force the color change with !important */
}
.Toastify__toast {
  border: 2px solid var(--border-color);
  background-color: #040c18 !important;
  font-size: 13px;
}

.Toastify__toast.Toastify__toast--error {
  border-bottom: 2px solid var(--second-light-purple) !important; /* Ensure higher specificity */
}
.Toastify__progress-bar--error {
  background-color: var(--border-color) !important;
}

.Toastify__toast--warning {
  border-bottom: 2px solid var(--second-light-purple) !important; /* Change the border color for warning toasts to blue */
}
.Toastify__toast--warning .Toastify__icon {
  color: var(
    --second-light-purple
  ) !important; /* Override default color with blue */
}

/* Make the Toastify icon blue for error toasts */
.Toastify__toast.Toastify__toast--error .Toastify__icon {
  color: var(
    --second-light-purple
  ) !important; /* Use !important to ensure override */
}

/* Example for a general style override */
.Toastify__toast {
  color: white; /* Change text color to white for dark theme */
}

/* styles for register and login js  */
.regContainer {
  width: 100%;
  height: 100vh;

  background-size: cover;
  position: relative;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.regContainer .formContainer {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  border-radius: 40px;
  margin-top: 40px;
}
.regContainer .formContainer form {
  color: white;
  width: 500px;

  height: fit-content;
  padding: 10px;
  /* border: 2px solid var(--border-color); */
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 10px;
  background-color: #040c18;
  position: relative;
}
.logo-doc {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  margin-bottom: 20px;
  justify-content: center;
  /* gap: 10px; */
  text-decoration: none;
}
.logo-doc img {
  max-width: 30px;
  margin-bottom: 5px;
}
.logo-doc h1 {
  font-size: 1.5em;
  color: var(--light-grey);
}
.header-signup {
  position: relative;
  display: flex;
  align-items: center;
}
.header-signup h1 {
  font-size: 2.5em;
  color: var(--light-grey);
}

.google-log {
  position: relative;
  display: flex;
  width: 100%;
  border: 1px solid var(--border-color);
  border-radius: 10px;
  height: 50px;
  display: flex;
  align-items: center;
  gap: 10px;
  justify-content: center;
  text-decoration: none;
}
.google-log img {
  max-width: 20px;
}
.google-log p {
  font-size: 13px;
  color: var(--light-grey);
  margin: 0;
}
.or-span {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 30px;
  font-size: 13px;
}

.row-inps {
  position: relative;
  display: grid;
  grid-template-columns: 1fr 1fr;

  gap: 10px;
  width: 100%;
}
.inps {
  position: relative;
  display: flex;
  flex-direction: row;
  border: 1px solid var(--border-color);
  border-radius: 10px;
  height: 50px;
  align-items: center;
  padding: 0px 0px;
  width: 100%;
  margin-bottom: 20px;
}
.inps i {
  height: 100%;
  border-right: 1px solid var(--border-color);
  width: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--second-light-purple);
}

.form-input {
  background-color: transparent;
  width: 100%;
  padding: 0px 10px;
  border: none;
  border-radius: 10px;
  color: var(--light-grey);
  font-size: 13px;
  height: 100%;
  outline: none;
}
.form-input::placeholder {
  color: var(--border-color);
}
.inps.no-marg {
  margin-bottom: 0px !important;
}
.form-terms {
  position: relative;
  display: flex;
  flex-direction: row;
  width: 100%;
  /* justify-content: space-between; */
  align-items: center;
  gap: 10px;
  margin-bottom: 10px;
  font-size: 13px;
  color: var(--light-grey);
}
.form-terms a {
  color: var(--second-light-purple);
  text-decoration: none;
  font-weight: 600;
}
.yes-marg {
  margin-bottom: 20px;
}

.button-login {
  width: 100%;
  padding: 15px;
  border: none;
  border-radius: 10px;
  background-color: var(--second-light-purple);
  margin: 10px;
  font-size: 13px;
  color: var(--light-grey);
  cursor: pointer;
  filter: brightness(80%);
  transition: all 0.5s ease-in-out;
  /* text-transform: uppercase; */
  border: 1px solid var(--border-color);
}
.button-login:hover {
  filter: brightness(100%);
  border: 1px solid var(--border-color);
}
.button-login:hover:active {
  border: 1px solid var(--border-color);
}

.form-footer {
  position: relative;
  display: flex;
  flex-direction: row;
}
.form-footer p {
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  font-size: 13px;
  color: var(--light-grey);
}
.form-footer p a {
  color: var(--second-light-purple);
  text-decoration: none;
  font-size: 13px;
  font-weight: 600;
}

.left-image-reg {
  /* background-color: var(--second-light-purple); */
  width: 100%;
  height: 100%;
  display: flex;

  position: relative;
  background-repeat: no-repeat !important;
  background-size: cover !important;
  background-position: center;
  align-items: center;
  justify-content: center;
  text-align: center;
  background: radial-gradient(
    circle at 50% 50%,
    rgba(50, 21, 100, 1) 0%,
    rgba(4, 12, 24, 1) 51%,
    rgba(4, 12, 24, 1) 100%
  );
}
.span-box {
  width: 20px;
  height: 20px;
  border: 2px solid var(--border-color);
  display: flex;
  align-items: center;
  border-radius: 5px;
  justify-content: center;
  font-size: 12px;
  cursor: pointer;
}
.span-box i {
  font-size: 12px;

  display: flex;
  font-weight: 700;
  transition: all 0.5s ease-in-out;
}
.ont {
  background-color: #e8f0fe;
  color: var(--border-color) !important;
  width: 100%;
  height: 100%;
  border-radius: 5px;
  display: flex;

  align-items: center;
  justify-content: center;
}
.span-disp {
  display: flex;
}

/* .footersec */
/* .footersec */
/* .footersec */
/* .footersec */
/* .footersec */

.footer-sec {
  min-height: 70vh;

  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* margin-top: 40px; */
}

.footer-main {
  position: relative;
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid var(--border-color);
}
@media screen and (max-width: 352px) {
  .footer-main {
    width: 90% !important;
  }
}

.fts {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 300px;
  align-items: center;
  grid-gap: 10px;
  margin: 20px 0px;
}

.img-ft {
  width: 100%;
}

.img-ft img {
  max-width: 80px;
  margin-bottom: 20px;
}

.ft-txt {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  font-size: 15px;
  color: white;
}

.ft-txt p {
  max-width: 260px !important;
}

.fticn {
  position: relative;
  display: flex;
  flex-direction: row;
  grid-gap: 20px;
  align-items: center;
  width: 100%;
}

@media screen and (max-width: 350px) {
  .fticn {
    grid-gap: 14px !important;
  }
}

@media screen and (max-width: 1200px) {
  .fts {
    width: auto !important;
  }

  .fticn {
    grid-gap: 13px !important;
  }
}

@media screen and (max-width: 768px) {
  .cap {
    justify-content: center !important;
  }

  .caplnks {
    align-items: center !important;
  }

  .fticn {
    align-items: center !important;
    justify-content: center;
  }

  .img-ft {
    align-items: center !important;
    display: flex !important;
    width: 100% !important;
    justify-content: center;
  }

  .ft-txt {
    text-align: center !important;
    align-items: center !important;
  }

  .fts {
    width: 100% !important;
    align-items: center !important;
  }
}

.fticn i {
  font-size: 20px;
  color: var(--second-light-purple);
  font-weight: 500;
}

.cap {
  position: relative;
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  width: 100%;
}

.cap h2 {
  color: var(--second-light-purple);
  font-size: 15px;
  font-weight: 600;
}

.caplnks {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  grid-gap: 10px;
}

.caplnks a {
  text-decoration: none;
  color: white;
  font-size: 14px;
  transition: all 0.5s ease-in-out;
  text-transform: capitalize;
}

.caplnks a:hover {
  color: var(--border-color);
}

.end-note {
  height: 80px;
  align-items: center;
  justify-content: center;
  width: 100%;
  display: flex;
}

.end-note p {
  font-size: 15px;
  color: white;
}
.left-btn {
  position: relative;
  display: flex;
  flex-direction: column;
}
.left-btn ul {
  flex-direction: row;
  display: flex;
  gap: 10px;
  width: 100%;
}

.left-btn ul a {
  max-width: 170px;
  height: 70px;
  background-color: transparent;
  padding: 0px !important;
}
.left-btn ul a::before {
  display: none !important;
  content: "";
  display: flex;
}

.left-btn ul a img {
  max-width: 150px;
}

/* .payment-plan section */
/* .payment-plan section */
/* .payment-plan section */

.payment-box {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
  gap: 15px;
  width: 100%;
  height: auto;
}
.plans-tt {
  width: 100%;
  height: auto;
  min-height: 500px;
  border-radius: 10px;
  background: linear-gradient(-45deg, var(--second-light-purple), #040c18);
  padding: 15px;
  display: flex;
  flex-direction: column;
  /* border: 1px solid #ddd; */
  align-items: center;
  justify-content: space-between;
  border-bottom: 2px solid var(--second-light-purple);
  box-shadow: 0 0 20px rgb(0, 0, 0, 0.3);
}
.header-plan {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 15px;
  align-items: center;
  justify-content: center;
  width: 100%;
}
.header-plan h1 {
  margin: 0;
}
.things-to-gain {
  position: relative;
  display: flex;
  flex-direction: column;

  gap: 10px;
}
.things-to-gain li {
  position: relative;
  display: flex;
  align-items: center;
  gap: 15px;
  /* background-color: var(--border-color); */
  padding: 5px;
  border-radius: 5px;
}
.things-to-gain li img {
  max-width: 20px;
}
.things-to-gain p {
  margin: 0;
}
.pricing-tag {
  color: #ff8a71;
}
.btn-plan {
  width: 100%;
  margin-top: 30px;
}
.btn-plan a {
  width: 100%;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white !important;
  border-radius: 10px;

  background-color: #040c18;
}

/* userpadges  */

.search-dva {
  position: relative;
  width: auto;
  min-width: 700px;
  background-color: white;
  border-radius: 5px;
  height: 60px;
  padding: 10px 20px;
  display: flex;
  gap: 10px;

  flex-direction: row;
  justify-content: space-between;
}
.search-dva input {
  height: 100%;
  border: none;
  outline: none;
  display: flex;
  padding: 10px;
  height: 100%;
  width: 100%;
  color: black;
  font-size: 14px;
  background-color: #5f458d69;
  flex: 2;
  border-radius: 5px;
}
.search-dva input::placeholder {
  color: black;
}
.search-dva a {
  width: 120px;
  height: 100%;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  background-color: #321564;
  font-size: 13px;
  gap: 10px;
}

.advance-search {
  position: relative;
  display: flex;
  flex-direction: row;
  width: 100%;
  margin: 30px 0px;
  align-items: center;
  gap: 20px;
  padding-bottom: 30px;
  border-bottom: 1px solid #ddd;
}
.search-bar {
  width: 600px;
  height: 50px;
  border: 1px solid #ddd;
  border-radius: 30px;
  padding: 5px;
  display: flex;
  flex-direction: row;
  align-items: center;

  gap: 5px;
}
.search-bar input {
  width: 100%;
  height: 100%;
  border-radius: 30px;
  padding: 10px 5px;
  outline: none;
  transition: all 0.5s ease-in-out;
}
.search-bar input:focus {
  background-color: #eee;
  border: 1px solid #ddd;
}
.search-bar i {
  color: #2c1459;
  width: 45px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  cursor: pointer;
  transition: all 0.5s ease-in-out;
}
.search-bar i:hover {
  background-color: #2c1459;
  color: white;
}

.main-pract {
  position: relative;
  display: grid;
  grid-template-columns: auto 1fr;
  width: 100%;
  gap: 30px;
  height: auto;
  min-height: 100vh;
}
.practioner-cards {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
}
.grid-prtc {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.pract-card {
  width: 100%;
  height: auto;
  min-height: 300px;

  background-color: white;

  border: 1px solid #ddd;
  overflow: clip;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
  padding: 10px;
  margin-bottom: 20px;
  border-radius: 10px;
  /* padding: 10px; */
}

.pct-img {
  position: relative;
  display: flex;
  width: 100%;
  flex-direction: row;
  align-items: center;
  /* gap: 10px; */
}
.pct-img span {
  position: relative;
  display: flex;
  height: 50px;
  width: 50px;
}

.pct-img span img {
  object-fit: cover;
  min-width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;

  height: 100%;
}
.pract-card:hover {
  background-color: #eee;
}
.text-prct {
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 10px;
  /* margin-top: 13px; */
}
.text-prct h1 {
  font-size: 16px;
  font-weight: 600;
  display: flex;
  margin-bottom: 5px;
  flex-direction: row;
  align-items: center;
  gap: 5px;
}
.text-prct h1 img {
  max-width: 20px;
}
.text-prct p {
  font-size: 13px;
  color: #2e097d;
}
.text-prct h4 {
  max-width: 600px;
  font-size: 13px;
}
.abs-btn {
  position: absolute;
  top: 10px;
  left: 85%;
}
.abs-btn button {
  padding: 10px;
  border-radius: 30px;
  font-size: 13px;
  border: 1px solid #ddd;
}
.star-rating {
  position: relative;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
}
.star-rating p {
  font-size: 13px;
}
.star-rating span {
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
}
.star-rating i {
  font-size: 13px;
  color: gold;
}
.pp-btn {
  padding: 2px 10px;
  border-radius: 30px;
  border: 2px solid #2c1459;
  font-size: 13px;
  color: #2c1459;
}
.sumarry-prct {
  margin-top: 20px;
  position: relative;
  display: flex;
  flex-direction: column;
}
.sumarry-prct p {
  font-size: 13px;
}
.folowers-and-post {
  position: relative;
  display: flex;
  gap: 10px;
  flex-direction: row;
  align-items: center;
  margin-top: 20px;
}
.folowers-and-post a {
  padding: 5px 0px;
  display: flex;
  align-items: center;
  gap: 5px;
  font-size: 13px;
}
.association-set {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 350px;
  border: 2px solid #2c1459;
  border-radius: 20px;
  padding: 10px;
  margin-top: 20px;
}
.asos-div {
  display: flex;
  flex-direction: row;
  gap: 10px;
}
.asos-div img {
  max-width: 50px;
}
.asos-div span {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.asos-div span h4 {
  font-size: 13px;
}
.asos-div a {
  font-size: 13px;
  text-decoration: none;
  color: #2c1459;
  font-weight: 600;
}
.association-set button {
  padding: 5px 10px;
  border: 1px solid #ddd;
  border-radius: 30px;
  font-size: 13px;
}

.filter-pract {
  position: relative;
  /* top: 200px; */
  height: auto;
  max-height: 500px;
  display: flex;
  flex-direction: column;
  /* background-color: red; */
  width: 350px;
  border: 1px solid #ddd;
  border-radius: 20px;

  padding: 20px;
}
.filter-section {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.filter-section {
  position: relative;
  display: flex;
  width: 100%;

  flex-direction: column;
}
.filter-header {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}
.filter-header p {
  font-size: 13px;
  font-weight: 600;
}
.filter-header i {
  /* scale: 0.8; */
}
.filter-contents {
  position: relative;
  display: flex;
  flex-direction: column;
  margin: 10px 0px;
}
.filter-contents span {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
  width: 100%;
  margin-bottom: 10px;
}
.check-span button {
  width: 20px;
  height: 20px;
  border-radius: 5px;
  border: 2px solid #ddd;
}
.check-span button i {
  font-size: 13px;
  display: none;
}
.check-span p {
  font-size: 15px;
}
.input-filter {
  position: relative;
  display: flex;
  width: 100%;
}
.input-filter {
  width: 100%;
  border: 2px solid #ddd;
  border-radius: 5px;
  height: 40px;
  padding: 10px;
  align-items: center;
  display: flex;
  outline: none;
  font-size: 13px;
}
.input-filter input {
  position: relative;
  display: flex;
  width: 100%;
  height: 100%;
  outline: none;
}
.input-filter i {
  width: 20px;
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;

  border-radius: 50%;
  font-size: 13px;
  /* background-color: #eee; */
}
.drops {
  position: absolute;
  top: 50px;
  width: 100%;
  height: auto;
  height: 250px;
  overflow: auto;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0 0 0 /20%);
  padding: 10px;
  left: 0;
}
.drops::before {
  content: "";
  display: flex;
  position: absolute;
  top: 80%;
  left: 0;
  width: 100%;
  height: 20px;
  background: linear-gradient(#fefefe81, white);
}
.search-drop-down {
  position: relative;
  display: flex;
  width: 100%;
  height: 40px;
  border: 1px solid #ddd;
  border-radius: 30px;
  padding: 5px 10px;
  width: 100%;
  align-items: center;
}
.search-drop-down input {
  height: 100%;
  width: 100%;
  outline: none;
  padding: 5px;
  border-radius: 30px;
}
.search-items {
  position: relative;
  display: flex;
  flex-direction: column;
  padding-top: 13px;
}


.people-also-grid{
  display: flex;
  flex-direction: column;
  height: auto;
  margin-top: 10px;
 
  width: 100%;
  padding: 15px;
  height: 200px;
}
 .people-also-grid h1{
  margin-bottom: 10px;
  font-weight: 600;
  font-size: 25px;
 }
.button-grid{
  position: relative;
  display: flex;
  flex-direction: row;
  align-items:center;
  gap: 10px;
  flex-wrap: wrap;
  margin-top: 10px;

}
.button-grid button{
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 400px;
  background-color: #eee;
  height: 40px;
  padding: 10px;
  border-radius: 30px;
  gap: 15px;
  


}
.button-grid button p{
  font-size: 13px;

}
.navigation-padges-buttons{
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
 
  padding: 10px;

  
}
.nabvigations{
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
  width: auto;
  width: 100%;
  font-size: 13px ;
  /* font-weight: 600; */
}
.counter-btn{
  position: relative;
  display: flex;
  align-items: center;
  gap: 10px;

}
.counter-btn.active{
  border: 1px solid #2c1459 ;
}
.counter-btn button{
  height: 20px;
  width: 20px;

 display: flex;
 align-items: center;
 justify-content: center;


 border-radius: 50%;
 border: 1px solid #2c1459;
}
.prev-btn,
.after-btn-{
 display: flex;
 flex-direction: row;
 gap: 5px;
 padding: 5px;
 align-items: center;
}

